.reactflow-wrapper {
	flex-grow: 1;
	height: 100%;
}
.app {
	height: 100vh;
	width: 100vw;
}

.card-container {
	max-height: 100vh;
	overflow-y: auto;
}

.custom-node {
	height: 50px;
	width: 150px;
}
